<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="grid">
            <%- include('navbar') %>
        <div class="header">
            <h1>By Team</h1>
        </div>
        <div class="teams">
            <div class="conference eastern">
                <h2>Eastern Conference</h2>
                <div class="teamsContainer">
                    <% easternteams.map((team) => { %>
                        <div class="teamInfo">
                            <h3><%= team.name %></h3>
                            <a href="/team?team=<%= team.name %>">
                                <img src = "<%= team.image_link %>" class="teamImg">
                            </a>
                        </div>
                      <% }) %>
                </div>
            </div>
            <div class="conference western">
                <h2>Western Conference</h2>
                <div class="teamsContainer">
                    <% westernteams.map((team) => { %>
                        <div class="teamInfo">
                            <h3><%= team.name %></h3>
                            <a href="/team?team=<%= team.name %>">
                                <img src = "<%= team.image_link %>" class="teamImg">
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
            
        <h1 class="header">By Player</h1>
        <div class="playerContainer">
            <% player.map((player) => { %>
                <div class="playerCard">
                    <h3><%= player.name %></h3>
                    <a href="/players?playerid=<%= player.player_id %>">
                        <img src = "<%= player.image_link %>" class="playerImg">
                    </a>
                </div>
            <% }) %>
        </div>
        
        <h1 class="header">All Jerseys</h1>
        <div class="jerseysContainer">
            <% jerseyimages.map((jersey) => { %>
                <img src = "<%= jersey.image_link %>" class="jerseyImg">
            <% }) %>
        </div>
        </div>
        
    </body>
</html>