<html>
    <body>
        <%- include('navbar') %>
        <h1><%= jerseydetails[0].team %>, <%= jerseydetails[0].player %>, Number <%= jerseydetails[0].number %></h1>
        <h3>Your Price: <%= jerseydetails[0].price %></h3>
        <h3>Quantity: <%= jerseydetails[0].quantity %></h3>
        <img src="<%= jerseydetails[0].image_link %>">
    </body>
</html>